/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

body
{
	font-family: Trebuchet MS;
	font-size: 1em;
	background-color: #f5f5dc;
}

html.home-topic	/*Used on home topic to override padding set in the skin*/
{
	
}

html.home-topic .body-container	/*Overrides padding set in the skin*/
{
	padding: 0;
}

html.home-topic .main-section > .outer-row	/*Overrides padding set in the skin when in tablet/mobile*/
{
	max-width: 100%;
	padding: 0;
}

h1
{
	font-weight: bold;
	font-family: Trebuchet MS;
	color: #100515;
	font-size: 28pt;
}

h2
{
	font-weight: bold;
	font-size: 22pt;
	color: #191126;
	font-family: Trebuchet MS;
}

h3
{
	font-weight: bold;
	font-size: 18pt;
}

h4
{
	font-weight: bold;
	font-size: 1.4em;
}

p
{
	font-size: 1em;
	font-family: Trebuchet MS;
}

ol,
ul
{
	letter-spacing: .25;
	line-height: 20pt;
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: none;
	max-width: 100%;
}

li
{
	margin-bottom: 6pt;
	margin-top: 6pt;
}

p.note
{
	margin-top: 0pt;
	margin-bottom: 12pt;
	mc-auto-number-format: '{color purple}{b}Note: {/b}{/color} ';
	padding-left: 0px;
	color: #000000;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	text-decoration: none;
	color: #45494c;
	font-size: 20pt;
	font-weight: bold;
	border-bottom: none;
}

MadCap|xref
{
	color: #076685;
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
}

div.home-layout
{
	padding: 2% 5%;
}

div.home-section
{
	padding: 5% 0;
	border-bottom: solid 1px #dadada;
}

div.home-section:last-of-type	/*Removes the border on the last section of the home page*/
{
	border-bottom: none;
}

MadCap|breadcrumbsProxy
{
	border-bottom-width: 0;
	color: #221733;
}

a:link
{
	color: #076685;
}

a:visited
{
	color: #076685;
}

a:hover
{
	color: #076685;
}

a:active
{
	color: #a82384;
}

a.home-button
{
	display: block;
	padding: 10px;
	text-decoration: none;
	width: 100%;
}

MadCap|dropDownBody
{
	padding: 10px 30px 0;
}

MadCap|dropDown
{
	border-bottom: 1px solid #dadada;
	mc-image-position: left;
	mc-image-spacing: 10px;
	padding: 10px 0;
	mc-closed-image: url('../Images/Home/plus.png');
	mc-open-image: url('../Images/Home/minus.png');
}

div.topic-hero
{
	padding: 5%;
	background-size: cover;
	background-attachment: fixed;
	background-image: url('../Images/Home/fog-g4065a2ab6_1920.jpg');
}

div.topic-hero h1
{
	color: #fff;
	font-size: 3.5em;
	text-align: center;
}

div.home-tiles	/*This is a custom responsive layout row style (div class) in your stylesheet.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div.home-tiles::before
{
	content: ' ';
	display: table;
}

div.home-tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-tiles > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #b9bec1;
	padding: 2%;
	height: 250px;
}

div.home-tiles > div:nth-child(1)
{
	width: 30%;
	margin-left: 19%;
}

div.home-tiles > div:nth-child(2)
{
	width: 30%;
	margin-left: 2%;
}

div.article-tiles	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.article-tiles::before
{
	content: ' ';
	display: table;
}

div.article-tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.article-tiles > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #dadada;
}

div.article-tiles > div:hover
{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all 0.8s cubic-bezier(.25,.8,.25,1);
}

div.article-tiles > div:nth-child(1)
{
	width: 18%;
	margin-left: 0%;
}

div.article-tiles > div:nth-child(2)
{
	width: 18%;
	margin-left: 2%;
}

div.article-tiles > div:nth-child(3)
{
	width: 18%;
	margin-left: 2%;
}

div.article-tiles > div:nth-child(4)
{
	width: 18%;
	margin-left: 2%;
}

div.article-tiles > div:nth-child(5)
{
	width: 18%;
	margin-left: 2%;
}

div.article-tiles img
{
	max-width: 90%;
}

div.home-footer	/*Controls the look of the footer in the Home master page.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.home-footer::before
{
	content: ' ';
	display: table;
}

div.home-footer::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-footer > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.home-footer > div:nth-child(1)
{
	width: 25%;
	margin-left: 0%;
}

div.home-footer > div:nth-child(2)
{
	width: 75%;
	margin-left: 0%;
}

p.footer-sub
{
	color: #FFF;
	font-family: Trebuchet MS;
	margin-bottom: 1.12em;
	margin-top: 1.12em;
	font-size: 12pt;
}

.footer
{
	padding: 25px 25px 10px 25px;
	background-color: #696969;
}

.footer-logo
{
	max-width: 100%;
	margin: 0;
	text-align: left;
}

.footer-links a
{
	padding-right: 15px;
}

.footer-icons
{
	text-align: right;
}

.footer-icons > a:first-of-type
{
	padding-right: 10px;
}

@media print
{
	MadCap|xref
	{
		font-weight: normal;
		mc-format: '{quote}{para}{quote} {pageref}';
		text-decoration: none;
	}
}

@media only screen and (max-width: 1279px)
{
	.footer
	{
		padding: 2% 2% 1%;
	}

	html.home-topic .body-container
	{
		margin-left: 0;
	}

	div.home-footer > div:nth-child(1)
	{
		width: 25%;
		margin-left: 0%;
	}

	div.home-footer > div:nth-child(2)
	{
		width: 75%;
		margin-left: 0%;
	}
}

@media only screen and (max-width: 767px)
{
	div.topic-hero h1
	{
		font-size: 2.5em;
		text-align: center;
	}

	div.home-tiles p
	{
		line-height: 1.2;
	}

	div.home-tiles > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
		margin-bottom: 10px;
	}

	div.home-tiles > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.article-tiles > div
	{
		margin-bottom: 10px;
	}

	div.article-tiles > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.article-tiles > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.article-tiles > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.article-tiles > div:nth-child(4)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.article-tiles > div:nth-child(5)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.article-tiles img
	{
		width: 75%;
	}

	.footer-icons
	{
		text-align: center;
	}

	.footer
	{
		padding: 5% 7%;
		text-align: center;
	}

	.footer-logo
	{
		text-align: center;
	}

	div.home-footer > div:nth-child(1)
	{
		width: 100%;
	}

	div.home-footer > div:nth-child(2)
	{
		width: 100%;
		margin: 3% 0;
	}
}

